<div class="container">
    <div class="row">
        <div class="col-md-12 wwa">
            <span name="about"></span>
            <h2>Das Team</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row team">
        <div class="col-md-3 b1">
            <img class="img-responsive" src="assets/img/team/image1.jpg">
            <h4>Matthes Reinwarth (46)</h4>
            <h5>Jugendobmann - Trainer Opti B</h5>
            <div class="steckbrief">
                <p>Lizenztrainer<br/>
                    seit 1980 aktiver Segler<br/>
                    seit 1992 ehrenamtlich im Jugendbereich<br/>
                    von 2002 - 2010 Jugendobmann<br/>
                    seit 2010 Schiedsrichter und Wettfahrleiter des DSV<br/>
                    seit 2011 Jugendobmann<br/>
                    <a href="tel:01704003025">0170 400 30 25</a><br/>
                    <a href="mailto:jugendobmann@yachtclub-wendenschloss.de">jugendobmann@yachtclub-wendenschloss.de</a></p>
            </div>
        </div>


        <div class="col-md-3 b2">
            <img class="img-responsive" src="assets/img/team/image2.jpg">
            <h4>Manuela Reinwarth (33)</h4>
            <h5>Trainerin Opti Fortgeschrittene</h5>
            <div class="steckbrief">
                <p>seit 1999 aktive Seglerin<br/>
                    seit 2001 Übungsleiterin<br/>
                    <a href="tel:01774865915">0177 486 59 15</a><br/>
                    <a href="mailto:manuela@yachtclub-wendenschloss.de">manuela@yachtclub-wendenschloss.de</a></p>
            </div>
        </div>


        <div class="col-md-3 b3">
            <img class="img-responsive" style="background-color: white" src="assets/img/wimpelycwneu.png">
            <h4>Stine Hoffmann (18)</h4>
            <h5>Trainerin Opti Anfänger</h5>
            <div class="steckbrief">
                <p>aktive Seglerin seit 2005<br/>
                    Übungsleiterin seit 2015<br/>
                    <a href="mailto:stine@yachtclub-wendenschloss.de">stine@yachtclub-wendenschloss.de</a></p>
            </div>
        </div>

        <div class="col-md-3 b4">
            <img class="img-responsive" style="background-color: white" src="assets/img/wimpelycwneu.png">
            <h4>Marco Dittmer (17)</h4>
            <h5>Jugendsprecher</h5>
            <div class="steckbrief">
                <p>Schüler<br/>
                    <a href="mailto:jugendsprecher@yachtclub-wendenschloss.de">jugendsprecher@yachtclub-wendenschloss.de</a></p>
            </div>
        </div>

        <div class="col-md-3 b1">
            <img id="myImg" class="img-responsive" src="assets/img/team/image3.jpg">
            <h4>Benjamin Röhrich (32)</h4>
            <h5>Betreuer</h5>
            <div class="steckbrief">
                <p>Angestellter<br/>
                    aktiver Segler seit 1992<br/>
                    seit 2003 aktiv in der Jugendarbeit tätig<br/>
                    2010 - 2011 Jugendobmann<br/>
                    seit 2010 Schiedsrichter und Wettfahrleiter des DSV<br/>
                    <a href="tel:016094145993">0160 941 45 993</a></p>
            </div>
        </div>

        <div class="col-md-3 b2">
            <img class="img-responsive" src="assets/img/team/image4.jpg">
            <h4>Jürgen Lubitz (61)</h4>
            <h5>Material </h5>
            <div class="steckbrief">
                <p>Rentner<br/>
                <a href="mailto:juergen@yachtclub-wendenschloss.de">juergen@yachtclub-wendenschloss.de</a></p>
            </div>
        </div>

        <div class="col-md-3 b3">
            <img class="img-responsive" src="assets/img/team/image5.jpg">
            <h4>Steffen Reinwarth (48)</h4>
            <h5>Presse und Öffentlichkeitsarbeit </h5>
            <div class="steckbrief">
                <p>Mitglied seit 1976<br/>
                    seit 2010 Schiedsrichter und Wettfahrleiter des DSV<br/>
                    <a href="tel:01778378993">0177 83 78 993</a><br/>
                    <a href="mailto:steffen.r@yachtclub-wendenschloss.de">steffen.r@yachtclub-wendenschloss.de</a></p>
            </div>
        </div>
    </div>
</div>