<div>
<div id="content">
  <div class="container background-white">
    <div class="row margin-vert-30">
      <div class="col-md-12">
        <h2 class="margin-vert-20">Impressum</h2>
        <div class="row margin-bottom-30">
          <div class="col-md-4 animate fadeInLeft">
            <!-- VERANTWORTLICHKEIT / REALISIERUNG / HAFTUNGSHINWEIS -->
            <p><b>Verantwortlich</b> <br>
              <i>Verein:</i> Inhaltlich Verantwortlicher im Sinne von &sect;6 TDG: Gordon Friedrich<br>
              <i>Bereich Jugend:</i> Inhaltlich Verantwortlicher im Sinne von &sect;6 TDG: Matthes Reinwarth </p>
            <p><b>Realisiert durch</b><br>
              <a href="http://www.service-shop.de" target="_blank">Olaf Sch&uuml;ttke - Service-Shop</a></p>
            <p><b>Haftungshinweis</b><br>
              Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte
              externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren
              Betreiber verantwortlich.</p>
          </div>
          <div class="col-md-8 animate fadeIn">
            <!-- VORSTAND -->
            <!-- VORSTANDSMITGLIED 1 -->
            <div class="col-md-4 col-sm-4 person-details margin-bottom-30">
              <figure>
                <img src="http://www.yachtclub-wendenschloss.de/images/vorstand/firstimage.jpg" alt="image1">
                <figcaption>
                  <h3 class="margin-bottom-10">Gordon Barke
                    <small>- Vorsitzender</small>
                  </h3>
                  <span>Nullam id dolor id nibh ultricies vehicula ut id elit.</span>
                </figcaption>
                <ul class="list-inline person-details-icons">
                  <li>
                    <a href="#">
                      <i class="fa-lg fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa-lg fa-linkedin"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa-lg fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa-lg fa-dribbble"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa-lg fa-google-plus"></i>
                    </a>
                  </li>
                </ul>
              </figure>
            </div>
            <!-- //Portfolio Item// -->
            <!-- VORSTANDSMITGLIED 2 -->
            <div class="col-md-4 col-sm-4 person-details margin-bottom-30">
              <figure>
                <img src="http://www.yachtclub-wendenschloss.de/images/vorstand/secondimage.jpg" alt="image2">
                <figcaption>
                  <h3 class="margin-bottom-10">Martin Elsner
                    <small>- stellv. Vorsitzender</small>
                  </h3>
                  <span>Nullam id dolor id nibh ultricies vehicula ut id elit.</span>
                </figcaption>
                <ul class="list-inline person-details-icons">
                  <li>
                    <a href="#">
                      <i class="fa-lg fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa-lg fa-linkedin"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa-lg fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa-lg fa-dribbble"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa-lg fa-google-plus"></i>
                    </a>
                  </li>
                </ul>
              </figure>
            </div>
          </div>
          <!--- KONTAKT -->
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Kontakt</h3>
              </div>
              <div class="panel-body">
                <p><b>Yachtclub Wendenschloß e.V.</b><br>
                  Niebergallstr. 34<br>
                  12557 Berlin</p>
                <ul class="list-unstyled">
                  <li>
                    <i class="fa-phone color-primary"></i>030 / 65 13 58 0</li>
                  <li>
                    <i class="fa-envelope color-primary"></i>vorstand@yachtclub-wendenschloss.de</li>
                  <li>
                    <i class="fa-home color-primary"></i>http://www.example.com</li>
                </ul>
                <ul class="list-unstyled">
                  <li>
                    <strong class="color-primary">Monday-Friday:</strong>9am to 6pm</li>
                  <li>
                    <strong class="color-primary">Saturday:</strong>10am to 3pm</li>
                  <li>
                    <strong class="color-primary">Sunday:</strong>Closed</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>